/*DELCARANDO VARIAVEL NO CSS, AIZ ROOT (DEFINIDO VARIAVEL)*/
:root{
    --red:#E50914;
    --black:#141414;
    --white:white;
}
/*CONFIGURANDO TODOS ELEMNTOS EM TELA DO SITE*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*elementos base*/
body{
   background: var(--black);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color:white;
}


header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    margin-left: 50px;
    margin-right: 80px;
 }

header .logo{
    margin-left: 10px;
    color: var(--red);
    font-family: Arial, Helvetica, sans-serif, times;
    font-size:40px;
    
}

header .logo:hover{
    color:var(--white);
}

header nav a{
    text-decoration:none;
    color:rgb(250, 250, 250);
    margin-right: 10px;
}


header nav a:hover{
    color:var(--red);
}

/*filme principal*/
.filme-principal{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50),100%),url('/img/mr-robot-capa-.jpg');

    height: 400px;
    background-size:cover;
    color:var(--red);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-top: 10px;
    margin-bottom: 40px;
}

.descricao{
    margin-top: 10px;
    margin-bottom: 40px;
    color:var(--white);
    margin-left: 50px;

}

.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}
.titulo{
    margin-left: 50px;
}

.botao{
    background-color: rgba(255, 0, 0, 0.5);
    border:none;
    color: white;

    padding:15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color:white;
    color:black;
}

.botao i{
    margin-right: 8px;
    
}

.botao{
    margin-left: 50px;
}


.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}


.carrosel-filmes{
    margin-top:5px;
}

.h2f {
    margin-left: 40px;
    color:#E50914;

}



















